.flavor-table {
    margin: 6px;
}

img.flavor {
    height: 42px
}

.vote-button {
    background-color: green
}

.vote-button md-icon {
    color: white
}

.add-button {
    position: fixed;
    right: 12px;
    bottom: 12px;
}